@import './variables';

#root {
  font-size: 11pt;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

.header {
  display: -webkit-inline-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.app__container {
  width: $mapScreenWidth;
}

.page-break {
  break-before: page;
  border-top: 1px dashed gray;
  @media print {
    border-top: none;
  }
}

.print-button {
  display: flex;
  justify-content: center;
  height: 2rem;
  margin-top: 2rem;
}

@media print {
  .print--hide {
    display: none;
  }
}
