.error-page {
  display: flex;
  flex-direction: column;

  &__heading {
    align-self: center;
  }

  &__error {
    position: absolute;
    bottom: 0;
    border: 1px solid #333;
    padding: 1em;
    margin: 0 1em;
    overflow-x: scroll;
    left: 0;
    right: 0;
    color: #ff4136
  }
}
