@import '../variables';

$borderWidth: 2px;

.map-surround {
  &__parts {
    display: flex;
    justify-content: space-between;
  }
  &__scale-text {
    /* copied from Esri ScaleBar widget label */
    font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 12px;
  }
  &__image {
    width: $mapScreenWidth;
    height: $mapScreenHeight;
    border: $borderWidth solid $gray;
  }
}
