@import '../variables';

.summary-page {
  &__table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid $gray;
      padding: .25em;
    }

    thead {
      th,
      td {
        border-bottom-width: 2 * 1px;
        text-align: left;
      }
    }

    &--bordered {
      border: 1px solid $gray;
    }
  }
}
